<template>
    <div>
        <a v-show="this.menuActions.action.previewAvatar" @click="previewAvatar(object)" class="clickable" data-toggle="tooltip" title="Preview Avatar">
            <svg width="1.0625em" height="1em" viewBox="0 0 17 16" class="bi bi-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M14.002 2h-12a1 1 0 0 0-1 1v9l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094L15.002 9.5V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm4 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
            </svg>
        </a>
        <a v-show="this.menuActions.action.seeTransactions" @click="seeTransactions(object.class_id)" class="clickable" data-toggle="tooltip" title="See Transactions">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card-2-back-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v5H0V4zm11.5 1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h2a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-2z"/>
                <path d="M0 11v1a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-1H0z"/>
            </svg>
        </a>
        <a v-show="this.menuActions.action.edit" @click="editObject(object)" class="clickable" data-toggle="tooltip" title="Edit">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
            </svg>
        </a>
        <a v-show="this.menuActions.action.delete" @click="deleteObject(object)" class="clickable" data-toggle="tooltip" title="Delete">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
            </svg>
        </a>
    </div>
</template>
<script>
    export default {
        mounted() {
        },
        props: {
            object: {
                required: true,
                type: Object
            },
            menuActions: {
                required: true,
                type: Object
            },
        },
        data: function() {
            return {
                route: root,
                deleteUrl: "delete",
                editUrl: "edit",
                transactionUrl: "transaction",
                avatarUrl: "previewAvatar",
            }
        },
        methods: {
            deleteObject(object) {
                let url = this.route + this.deleteUrl;
                const qs = require('qs');
                axios.post(url,qs.stringify(object))
                    .then(function (Response) {
                        alert("Deleted Succesfully");
                        window.location.reload();
                    }).catch(function (Error) {
                        alert("Something Happen. try again later");
                });
            },
            editObject(object) {
                let arrayPaths = object.class.split('\\');
                let objectClass = arrayPaths[arrayPaths.length-1].toLowerCase();
                let objectId = object.class_id;
                let url = this.route + objectClass + '/' + this.editUrl + '/' + objectId;
                window.location.replace(url);
            },
            seeTransactions(clientId) {
                let url = this.route + this.transactionUrl + '/' + clientId;
                window.location.replace(url);
            },
            previewAvatar(object) {
                // custom.client.previewAvatar(object.class_id);
                let arrayPaths = object.class.split('\\');
                let objectClass = arrayPaths[arrayPaths.length-1].toLowerCase();
                let objectId = object.class_id;
                let url = this.route + objectClass + '/' + this.avatarUrl + '/' + objectId;
                axios.get(url)
                    .then(function (Response) {
                        console.log(Response);
                        let contenedor = $("#client_modal");
                        contenedor.html(Response.data);
                        contenedor.modal({backdrop: 'static'});
                    }).catch(function (Error) {
                    alert("Something Happen. try again later"+Error);
                });
            },
        }
    }
</script>
